/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~react-grid-layout/css/styles.css';
@import '~react-resizable/css/styles.css';
/*
 * This file might be usefull for global styles overrides
 */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #000000;
  overflow: hidden;
  user-select: none;
}
